@model XinemaActual.Models.Movie

@{
    ViewBag.Title = "Details";
}

<ul class="breadcrumb breadcrumb__t">Movie Details</ul>

<div class="container">
    <div class="cont span_2_of_3">
        <div class="desc1 span_3_of_2">
            <h3 class="m_3">@Html.DisplayFor(model => model.movieTitle)</h3>
            <p class="m_5">@Html.DisplayFor(model => model.movieLanguage)</p>

            <span class="m_link"><a href="@Html.DisplayFor(model => model.movieTrailerURL)">Youtube trailer</a> </span>
            <p class="m_text2">@Html.DisplayFor(model => model.movieGenre)</p>
            <p class="m_text2">@Html.DisplayFor(model => model.movieRating)</p>
            <p class="m_text2">@Html.DisplayFor(model => model.movieRunningTime)</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

