@model IEnumerable<XinemaActual.Models.Movie>

@{
    ViewBag.Title = "Movies";

}
<ul class="breadcrumb breadcrumb__t">Movies</ul>
<div class="pull-right">
    @Html.Label("Order By Alphabetically")
    @Html.DropDownList("MovieOrderByDropDownItems", null, new { onchange = "document.location.href='/Movies/Index?aID='+this.value;" })
</div>
<div class="pull-right">
    @Html.Label("Order By Genre:")
    @Html.DropDownList("MovieGenreDropDownListItems", null, new { onchange = "document.location.href='/Movies/Index?gID='+this.value;" })
</div>
<div class="clear">
</div>
<div class="container">
    <div class="top-box">

        @foreach (var item in Model)
            {

            <div class="col-xs-6 col-sm-3">
                <div style="height: 425px;" class="thumbnail">
                    <div class="inner_content clearfix">
                        @if (item.moviePoster == null || item.moviePoster == "N/A")
                {
                            <div class="product_image">
                                <img src="~/images/altImg.jpg" alt="" />
                            </div>
                        }
                        else
                        {

                            <div class="product_image">
                                <img src="@item.moviePoster" alt="" />
                            </div>

                        }
                        <div class="price">
                            <div class="cart-left">
                                @Html.ActionLink(item.movieTitle, "Details", new { id = item.movieID }, new { @class = "title" })
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
