@model XinemaActual.Models.Movie

<div class="container">
    <h1>@Model.movieTitle</h1>

    @if ((@Model.movieIMDBRating==null) || (@Model.movieIMDBRating.Equals("N/A"))  ||  
        (@Model.movieTomatoesRating==null ) || (@Model.movieTomatoesRating.Equals("N/A")))
    {
        @ViewBag.message

    }
    else
    {
        <p><img src="@Url.Action("barChart")" /> </p>
    }
</div>