@model IEnumerable<XinemaActual.Models.ShowTime>

@{
    ViewBag.Title = "All Showtimes";

}
<div class="pull-right">
    @Html.Label("Sort by Cinemas")
    @Html.DropDownList("CinemaDropDownListItems", null, new { onchange = "document.location.href='/Showtimes/Index?cID='+this.value;" })
</div>
<div class="pull-right">
    @Html.Label("Sort by Movies")
    @Html.DropDownList("MovieDropDownListItems", null, new { onchange = "document.location.href='/Showtimes/Index?mID='+this.value;" })
</div>
<div class="pull-left">
    @Html.Label("Sort by Date")
    @Html.DropDownList("DateDropDownListItems", null, new { onchange = "document.location.href='/Showtimes/Index?dID='+this.value;" })
</div>
<div class="clear"></div>
<div class="container">
    <h2 class="head">Golden Village</h2>
    <div class="top-box">
        @foreach (var item in Model.Where(item => item.showtimeCinemaName.Contains("Golden Village")))
        {


            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.showtimeTitle)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.showtimeCinemaName)</h4>
                        <h5>@Html.DisplayFor(modelItem => item.showtimeStartTime)</h5>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="clear"></div>
    <h2 class="head">Cathay</h2>
    <div class="top-box">
        @foreach (var item in Model.Where(item => item.showtimeCinemaName.Contains("Cathay")))
        {


            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.showtimeTitle)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.showtimeCinemaName)</h4>
                        <h5>@Html.DisplayFor(modelItem => item.showtimeStartTime)</h5>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="clear"></div>
    <h2 class="head">Shaw</h2>
    <div class="top-box">
        @foreach (var item in Model.Where(item => item.showtimeCinemaName.Contains("Shaw")))
        {


            <div class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.showtimeTitle)</h3>
                        <h4>@Html.DisplayFor(modelItem => item.showtimeCinemaName)</h4>
                        <h5>@Html.DisplayFor(modelItem => item.showtimeStartTime)</h5>
                    </div>
                </div>
            </div>

        }
    </div>
        <div class="clear"></div>
        <h2 class="head">Rex Cinemas</h2>
        <div class="top-box">
            <div class="top-box">
                @foreach (var item in Model.Where(item => item.showtimeCinemaName.Contains("Rex")))
            {


                    <div class="col-sm-6 col-md-6">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>@Html.DisplayFor(modelItem => item.showtimeTitle)</h3>
                                <h4>@Html.DisplayFor(modelItem => item.showtimeCinemaName)</h4>
                                <h5>@Html.DisplayFor(modelItem => item.showtimeStartTime)</h5>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
