@model IEnumerable<XinemaActual.Models.Promotion>

@{
    ViewBag.Title = "Promotions";
}

<ul class="breadcrumb breadcrumb__t">Promotions</ul>

<div class="container">
         <div class="col-sm-6">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Shaw Theaters</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        @foreach (var item in Model.Where(item => item.promotionCinemaName.Contains("Shaw")))
                        {
                            <div class="panel-body">
                                <div class="caption">
                                    <p>@item.promotionDescription</p>

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    

        <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Golden Village</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
@foreach (var item in Model.Where(item => item.promotionCinemaName.Contains("Golden")))
{
                    <div class="panel-body"><div class="caption">
    <p>@item.promotionDescription</p>

</div></div>
}

                </div>
            </div>
        </div>
           
    
</div>
    </div>

<br />
<br/>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.promotionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.promotionCinemaName)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.promotionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promotionCinemaName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.promotionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.promotionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.promotionID })
            </td>
        </tr>
    }

    </table>*@
